<div class="body">
    <div class="container">
        <div class="card border-2 w-25 offset-8 my-5 align-item-end ">
            <div class="card-body">
                <div class="row">
                    <div class="card-title">
                        <div class="h6">
                            Enter gmail id
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-text">
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row my-3 justify-content-between">
                    <div class="col-3">
                        <div class="btn btn-outline-primary">&larr;</div>
                    </div>
                    <div class="col-3 ">
                        <div class="btn btn-outline-primary ">&rarr;</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>