<nav class="bg-success">
    <div class="">
        <div class="row">
            <div class="col-2">
                <div class="image">
                    <img src="../../../assets/Image/logo.png" id="logo" alt="">
                </div>
            </div>
            <div class="col row d-flex justify-content-between">
                <div class="col-1 h1 text-light nav-link">Home</div>
                <div class="col-2 align-self-center rounded-circle"><img src="../../../assets/Image/profile.webp" class="rounded-circle" width="30%" alt=""></div>
                <!-- <div class="col-1 h1 text-light nav-link">Profile</div> -->
            </div>
        </div>
    </div>
</nav>