<div class="login">
    <div class="container p-5">
        <h4 class="row col-5 offset-6 text-center">
            <p class="text-center display-5">Log in</p>
        </h4>
        <div class="row col-5 offset-6 my-3">
            <div class="form-group">
                <input type="email" class=" form-control" placeholder="Enter email" name=" email " id=" ">
            </div>
        </div>
        <div class="row col-5 offset-6 my-3">
            <div class="form-group">
                <input type="password" class=" form-control" placeholder="Enter password" name=" email " id=" ">
            </div>
        </div>
        <div class="row col-5 offset-6 my-3 px-2">
            <div class="btn btn-primary">Log in</div>
        </div>
        <div class="row col-5 offset-6 my-3 px-2">
            <p class="text-center h5">or</p>
        </div>
        <div class="row col-5 offset-6 my-3 px-2">
            <div class="btn btn-warning">Create a new account</div>
        </div>
    </div>
</div>