<div class="container">
    <div class="row">
        <div class="container p-5 offset-2  col-8 ">
            <div class="row">
                <div class="container col-5  align-self-center  ">
                    <img src="../../../assets/Image/profile.webp" class="rounded-circle" width="50%" alt="">
                </div>
                <div class="container col-6  my-2">
                    <div class="row my-2">
                        <div class="col-5 mx-2">user-name : </div>
                        <div class="col-5">sk_shoheb_33</div>
                    </div>
                    <div class="row my-2">
                        <div class="col-5 mx-2">Full name : </div>
                        <div class="col-5">Shaik Shoheb</div>
                    </div>
                    <div class="row my-2">
                        <div class="col-5 mx-2">Email : </div>
                        <div class="col-5">example@gmail.com</div>
                    </div>
                    <div class="row my-2">
                        <div class="col-5 mx-2">ph Number : </div>
                        <div class="col-5">9876543210</div>
                    </div>
                    <div class="row my-2">
                        <div class="col-5 mx-2">password : </div>
                        <div class="col-5 display-6"><sup>.......</sup></div>
                    </div>
                    <div class="row my-2">
                        <button class="btn btn-warning ">Edit</button>
                    </div>
                    <div class="row my-2">
                        <button class="btn btn-danger">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" aria-current="page" href="#">Saved</a>
            <a class="nav-link" href="#">Commented</a>
            <a class="nav-link" href="#">Your Posts</a>
        </nav>
    </div>
</div>